<html>
    <head>
        <title>To-Do lists</title>
        <meta name="viewport" content="width=device-widith, initial-scale=1.0">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="/static/base.css" media="screen">
    </head>
    <body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <a class="navbar-brand" href="">Superlists</a>
            <a class="btn navbar-btn navbar-right" id="id_login"  href="#">Sign in</a>
        </nav>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 jumbotron">
                <div class="text-center">
                    <h1>{% block header_text %}{% endblock %}</h1>
                    <form method="POST" action="{% block form_action %}{% endblock %}">
                        {{ form.text }}
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="form-group has-error">
                                <div class="help-block">{{ form.text.errors }}</div>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% block table %}
                {% endblock %}
            </div>
        </div>

    </div>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/static/list.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script>
    $(document).ready(function () {

    var loginLink = document.getElementById('login');
    if (loginLink) {
    loginLink.onclick = function() { navigator.id.request(); };
    };

    var logoutLink = document.getElementById('logout');
    if (logoutLink) {
    logoutLink.onclick = function() { navigator.id.logout(); };
    };

    var currentUser = '{{ user.email }}' || null;
    var csrf_token = '{{ csrf_token }}';
    console.log(currentUser);
    navigator.id.watch({
        loggedInUser: currentUser,
        onlogin: function(assertion) {
    // 一个用户已经登入！这是你需要做的：
    // 1. 把断言发送到后端验证并创建一个会话。
    // 2. 更新你的 UI。
    $.post('/accounts/login', {assertion: assertion, csrfmiddlewaretoken: csrf_token}).done(function() { window.location.reload(); }).fail(function() { navigator.id.logout(); });
  },
  onlogout: function() {
    // 一个用户已经登出！这是你需要做的：
    // 销毁用户的会话并重定向用户或做后端的调用。
    // 同样，让 loggedInUser 在下个页面加载时变为 null。
    // （这是一个字面的 JavaScript null。不是 false、 0 或 undefined。null。)
    $.post('/accounts/logout').always(function() { window.location.reload(); });
  }
});
    });</script>
    </body>
</html>
